################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FilteringUsingWhere/.vs/
/FilteringUsingWhere/FilteringUsingWhere/bin/Debug/net8.0
/FilteringUsingWhere/.vs/ProjectEvaluation
